target/
           !.mvn/wrapper/maven-wrapper.jar

           ### STS ###
           .apt_generated
           .classpath
           .factorypath
           .project
           .settings
           .springBeans

           ### IntelliJ IDEA ###
           .idea
           *.iws
           *.iml
           *.ipr

           ### NetBeans ###
           nbproject/private/
           build/
           nbbuild/
           dist/
           nbdist/
           .nb-gradle/

.idea
typings/**
node_modules
jspm_packages
link-checker-results.txt
**/*npm-debug.log.*
*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
test-output
.tmp
dist
environment.ts

!karma*.js
!gulp*.js
!protractor*.js
!systemjs.config.js
!typings/typings.d.ts
!wallaby.js


npm-debug.log
