span {
  margin:5px;
  color: black;
}

.gButton {
  padding: 5px;
}

.gButton:hover {
  background-color: #5cb3fd;
  down: .1em;
}

.label {
  width: 100px;
  color: #2aabd2;
}

.row-wrapper {
  max-width: 50%;
  background-color: #EEE;
  margin: 10px;
  padding: 5px;
  border-radius: 4px;
}

.row-wrapper:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.input {
  max-width: 50px;
  border-radius: 4px;
}

.selected {
  margin: 10px;
  padding: 5px;
  background-color: #5cb3fd;
  color: #5cb3fd;
}

