<div class="row-wrapper">

  <span class="label">{{product._name}}</span>
  <button (click)="decreasQuantity()" class="gButton">
    <span class="glyphicon glyphicon-arrow-down"></span>
  </button>
  <span><input [(ngModel)]="product._quantity" placeholder="Quantity" class="input"/></span>
  <button (click)="increaseQuantity()" class="gButton">
    <span class="glyphicon glyphicon-arrow-up"></span>
  </button>
  <a (click)="changeDetailsState()">
    <span class="glyphicon glyphicon-question-sign"></span>
  </a>

  <div *ngIf="detailsShowed">
    Details info!
  </div>
</div>
