// Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
// Variables
$wrongValidationColor: red;
$backgroundColor: #F5F5F5;
$registrationFontColor: #FFF;
$registrationBackgroundColor: #24313C;
$registrationButtonBackground: #1AB188;
$navHeight: 100px;
$fullPageHeight: calc(100vh - #{$navHeight});

.loginSection {
  width: 100%;
  background-color: $backgroundColor;

  .loginBox {
    width: 65%;
    min-height: $fullPageHeight;
    margin: 0 auto;

    .row {
      color: $registrationFontColor;
      height: 100vh;
      padding-top: 20vh;

      [class^="col"] {
        margin: 0 auto;

        h2 {
          text-align: center;
          color: black;
          font-weight: 700;
          font-size: 36px;
        }

        form {

          label {
            color: black;
            font-size: 16px;
          }

          .form-control {
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: white;
            border: 1px solid #555;
            font-size: 20px;
            padding: 20px;
            @include border-radius(5px);
          }

          .help-block {
            color: #DD0000;
            font-size: 14px;
          }

          .form-group {
            margin: 0;

            .btnLogin {
              margin-top: 20px;
              width: 100%;
              padding: 20px;
              font-size: 24px;
              font-weight: bold;
              text-transform: uppercase;
              @include border-radius(5px);
              background-color: #57AC39;

              &:hover {
                background-color: #68BD4A;
                color: #FFF;
              }
            }
          }
        }
      }
    }
  }
}
