.frame {
  width: 250px;
  text-align: center;
  background-color: #EEE;
  border-radius: 10px;
  height: auto;
}

.gButton {
  padding: 10px;
  border: solid;
  border-color: #1d1e1f;
  border-radius: 5px;
}

.frame-button {
  display: flex;
}

.gButton:hover {
  color: white;
  background-color: #999999;
  border-color: #1d1e1f;
}

.qSign:hover {
  color: white;
}
