<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          aria-controls="navbarSupportedContent"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="!navCollapsed"
          [class.collapsed]="navCollapsed"
          (click)="toggleNavigation()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="http://localhost:3000/homePage"><img src="images/fridge.png" height="100"></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="!navCollapsed">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>-->
      <li class="nav-item">
        <a *ngIf="checkIfEmpty()" class="nav-link" routerLink="/login">Login</a>
        <a *ngIf="!checkIfEmpty()" class="nav-link" routerLink="/homePage">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/myFridge">My Fridge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shoppingList">Shopping List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/productDatabase">Product Database</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Hello {{whoIsThere()}}</a>
      </li>
      <!--<li class="nav-item" routerLinkActive="active">
        <a class="nav-link">Food history</a>
      </li>-->
    </ul>
  </div>
</nav>
