<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          aria-controls="navbarSupportedContent"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="!navCollapsed"
          [class.collapsed]="navCollapsed"
          (click)="toggleNavigation()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="http://localhost:3000/homePage"><img src="images/fridge.png" height="50"></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="!navCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a *ngIf="checkIfLoggedIn()" class="nav-link" routerLink="/profile">Profil</a>
      </li>
      <li class="nav-item">
        <a *ngIf="checkIfLoggedIn()" class="nav-link" routerLink="/myFridge">Lodówka</a>
      </li>
      <li class="nav-item">
        <a *ngIf="checkIfLoggedIn()" class="nav-link" routerLink="/shoppingList">Lista zakupów</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!checkIfLoggedIn()" class="nav-link" routerLink="/login">Zaloguj</a>
        <a *ngIf="checkIfLoggedIn()" class="nav-link" routerLink="/homePage" (click)="unsetCookie()">Wyloguj</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!checkIfLoggedIn()" class="nav-link" routerLink="/register">Rejestracja</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" routerLink="/productDatabase">Product Database</a>
      </li>
      <li class="nav-item" (click)="checkCookieStatus()">
        <a *ngIf="checkIfLoggedIn()" class="nav-link">Cookie Status</a>
      </li>-->
    </ul>
  </div>
</nav>
