<div>
  <h1>Shopping lists, hey</h1>
  <div id="search-component">
    <h4>Add products to list:</h4>
    <input #searchBox id="search-box" placeholder="Search..." (keyup)="search(searchBox.value)" />
    <span class="glyphicon glyphicon-search"></span>
    <div>
      <div *ngFor="let product of foundProducts"
           (click)="addToLis(product)" class="search-result" >
        {{product._name}}
      </div>
    </div>
  </div>
  <h2>On List</h2>
  <ul>
    <li *ngFor="let product of onListProducts">
      <single-product [product]="product"></single-product>
    </li>
  </ul>

</div>
