//Variables
$navHeight: 100px;
$footerHeight: 50px;
$footerBackground: #222;
$fullPageHeight: calc(100vh - #{$footerHeight} - #{$navHeight});

body {
    .homePageContent {
      min-height: $fullPageHeight;
      font-size: 48px;
      text-align: center;
      line-height: $fullPageHeight;
      color: white;
      background-color: #1AB188;
    }
    footer {
      height: $footerHeight;
      padding: 10px;
      font-size: 18px;
      letter-spacing: 0.5px;
      background-color: $footerBackground;
      p {
        color: white;
        text-align: center;
      }
    }
}
