<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <section class="hero">
    <div class="slogan">
      <h1>To prawda, że najbardziej liczy się wnętrze. Na przykład lodówki.</h1>
    </div>
  </section>
  <section class="info-about">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="about-title">
          <h3>O co chodzi?</h3>
        </div>
        <div class="about-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in tempor arcu. Nam libero metus,
          volutpat vitae faucibus tincidunt, pulvinar nec ipsum. In condimentum convallis lacus, consequat
          sodales mauris bibendum sit amet. Integer ultricies molestie interdum. Suspendisse sed leo nisi.
          Integer purus neque, congue sit amet dignissim non, eleifend a lacus.
          Vivamus vel tortor sed eros gravida efficitur ac id arcu.
        </div>
      </div>
    </div>
  </section>
  <div class="info-statistics-box">
    <section class="info-statistics">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="statistics-title">
            <h3>Inteligentna lodówka w liczbach</h3>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="statistics-box">
              <h3>30%</h3>
              <p>Mniej wyrzucanego jedzenia</p>
              <div class="statistics-box-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in tempor arcu. Nam libero metus,
                  volutpat vitae faucibus tincidunt, pulvinar nec ipsum. Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Nulla in tempor arcu. Nam libero metus,volutpat vitae faucibus tincidunt.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="statistics-box">
              <h3>20%</h3>
              <p>Więcej zaoszczędzonego czasu</p>
              <div class="statistics-box-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in tempor arcu. Nam libero metus,
                volutpat vitae faucibus tincidunt, pulvinar nec ipsum. Nulla in tempor arcu. Nam libero metus,volutpat vitae faucibus tincidunt.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="statistics-box">
              <h3>10%</h3>
              <p>Lepiej zorganizowany jadłospis</p>
              <div class="statistics-box-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in tempor arcu. Nam libero metus,
                  volutpat vitae faucibus tincidunt, pulvinar nec ipsum. Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Nulla in tempor arcu. Nam libero metus,volutpat vitae faucibus tincidunt.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="info-start">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="start-title">
          <h3>Jak zacząc?</h3>
        </div>
        <div class="start-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in tempor arcu. Nam libero metus,
          volutpat vitae faucibus tincidunt, pulvinar nec ipsum. In condimentum convallis lacus, consequat
          sodales mauris bibendum sit amet. Integer ultricies molestie interdum. Suspendisse sed leo nisi.
          Integer purus neque, congue sit amet dignissim non, eleifend a lacus.
          Vivamus vel tortor sed eros gravida efficitur ac id arcu.
        </div>
        <div class="start-join-us">
          <a routerLink="/register">Załóż nowe konto</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
