<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <section class="hero">
    <div class="slogan">
      <h1>To prawda, że najbardziej liczy się wnętrze. Na przykład lodówki.</h1>
    </div>
  </section>
  <section class="info-about" id="about">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="about-title">
          <h3>O co chodzi?</h3>
        </div>
        <div class="about-description">
          Jeśli chcesz:<br>
          Wyrzucać mniej jedzenia<br>
          Rzadziej wychodzić na zakupy<br>
          Zawsze mieć w lodówce, to czego potrzebujesz<br>
          Zyskać wsparcie w zdrowym odżywianiu<br><br>
          <h3>To "Internetowa Lodówka" powstała właśnie dla Ciebie!</h3>
        </div>
      </div>
    </div>
  </section>
  <div class="info-statistics-box">
    <section class="info-statistics">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="statistics-title">
            <h3>Inteligentna lodówka w liczbach</h3>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="statistics-box">
              <h3>10%</h3>
              <p>Mniej wyrzucanego jedzenia</p>
              <div class="statistics-box-description">
                <p>Dzięki przypomnieniom o zbliżającym się upływie daty ważności już nigdy nie zapomnisz nawet o jedzeniu
                  leżącym na najniższej półce. Wyrzucasz mniej, wydajesz mniej.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="statistics-box">
              <h3>20%</h3>
              <p>Więcej zaoszczędzonego czasu</p>
              <div class="statistics-box-description">
                <p>Dzięki automatycznie generownym listom zakupów oraz możliwości ustalenia produktów, które zawsze chcesz
                  mieć w swojej lodówce unikniesz ponownego wychodzenia do sklepu. Miej to czego potrzebujesz, oszczedzając czas.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="statistics-box">
              <h3>15%</h3>
              <p>Lepiej zorganizowany jadłospis</p>
              <div class="statistics-box-description">
                <p>Zarządzaj tym, co jesz w lepszy sposób. Wybierz swoją diete oraz produkty,
                  które uwielbiasz. Zyskaj sojuszników w walce o lepszą sylwetkę.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="info-start">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="start-title">
          <h3>Jak zacząc?</h3>
        </div>
        <div class="start-description">
          Na początku zarejestruj się podając swój adres e-mail. Następnie korzystaj z aplikacji po zalogowaniu się na
          swoje konto. Odkrywaj naszą aplikację korzystając z prostego i przejrzystego menu. Rozpoczynij od dodania
          produktów obecnych już w Twojej lodówce, ustal diete, wybierz, co lubisz jeść itp. Baw się, eksperymentuj,
          to naprawdę proste.
        </div>
        <div class="start-join-us">
          <a routerLink="/register">Załóż nowe konto</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
